<div class="wrapper">
    <!--  コンテンツを一旦仮置きする  -->
    <header>

    </header>
    <!--   First block Start   -->
    <section id="first-block">
      <div class="title-container">
        <p class = "title">yourtown</p>
        <p class = "subtitle">~ あなたの街を紹介しよう!! ~</p>
      </div>
    </section>
    <!--   First block End   -->
    <!--   Second block Start   -->
    <section id="second-block">
      <p class="info-title">
          街情報(区選択)
      </p>
      <br>

      <div class="explain">
        みんなが投稿した素敵な街の写真を確認しよう!!

      </div>
    </section>
      <!--   Second block End   -->

      <!--   Third block Start   -->
    <section id="third-block">
      <p class = right><%= link_to "新規作成", towns_new_path %></p>
      <script type="text/javascript">
        function changeMapImage(imgPath) {
          document.getElementById('map').src = imgPath;
        }
      </script>
      <section class="map">
        <img id="map" src="/assets/23k_0-01.png" border="0" usemap="#map">
        <map name="map">
          <area shape="poly" coords="ここに座標" href="リンク先"
          onmouseover="changeMapImage('リンク先へ')"
          onmouseout="changeMapImage('元の画像')">


          <area shape="poly" coords="284,260, 284,260, 279,248, 276,246, 272,245, 269,240, 266,212, 258,191, 246,179, 232,175, 213,175, 196,173, 184,171, 178,170, 157,147, 155,155, 152,173, 148,180, 141,180, 129,175, 123,176, 111,175, 101,173, 95,170, 96,165, 99,164, 101,160, 98,154, 90,151, 81,149, 75,149, 69,151, 58,162,
46,175, 34,186, 25,194, 22,197, 26,205, 28,221, 29,222, 31,222, 32,224, 32,241, 32,261, 31,279, 30,289, 29,295, 28,302, 27,305, 27,306, 32,312, 39,318, 47,321, 61,329, 67,328, 66,323, 68,316, 75,315, 84,314, 88,314, 100,299, 122,294, 152,281, 156,278, 164,271, 172,269, 180,276, 186,288, 193,296, 199,296, 211,297, 225,296,
237,296, 242,296, 245,287, 251,281, 261,280, 272,281, 276,284, 284,265, 284,260" href="/towns/練馬区"
onmouseover="changeMapImage('/assets/23k_1-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" coords="123,448, 130,450, 137,450, 141,447, 144,444, 150,445, 160,449, 172,454, 182,458, 196,457, 214,454, 229,451, 235,450, 241,430, 240,425, 237,415, 236,407, 241,401, 250,395, 255,392, 235,378, 235,374, 234,365, 232,356, 228,348, 212,339, 190,330, 174,321, 167,312, 160,298, 154,286, 152,281,
122,294, 100,299, 88,314, 84,314, 75,315, 68,316, 66,323, 67,328, 71,327, 71,336, 72,338, 85,345, 85,349, 87,359, 84,369, 77,377, 74,381, 73,386, 74,392, 79,397, 82,406, 83,416, 95,421, 103,425, 113,436, 123,448" href="/杉並区"
onmouseover="changeMapImage('/assets/23k_2-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" coords="264,572, 278,574, 287,558, 291,541, 292,529, 290,514, 284,500, 279,487, 277,482, 272,470, 265,457, 258,449, 250,448, 240,449, 235,450, 229,451, 214,454, 196,457, 182,458, 172,454, 160,449, 150,445, 144,444, 141,447, 137,450, 130,450, 123,448, 113,436, 103,425, 95,421, 83,416, 83,424, 79,426,
72,428, 67,437, 66,442, 68,445, 73,447, 77,452, 75,462, 75,476, 75,483, 77,486, 80,489, 81,499, 82,519, 79,524, 74,528, 72,534, 71,544, 67,556, 59,564, 60,564, 66,563, 74,562, 79,563, 83,573, 84,583, 79,588, 75,590, 77,595, 81,595, 93,596, 111,599, 131,605, 151,616, 170,632, 189,648, 207,662, 221,672, 227,676, 225,670, 223,660,
225,653, 235,651, 250,652, 262,661, 267,662, 273,661, 277,660, 280,655, 282,646, 282,636, 279,630, 271,628, 261,629, 253,629, 247,623, 239,588, 239,574, 239,566, 242,562, 250,564, 264,572" href="世田谷区"
onmouseover="changeMapImage('/assets/23k_3-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" coords="" href="towns/大田区"
onmouseover="changeMapImage('/assets/23k_4-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" alt="" coords="292,620, 292,620, 292,619, 292,618, 297,618, 306,621, 314,624, 317,626, 320,621, 325,610, 328,597, 326,591, 322,585, 320,581, 323,581, 329,580, 334,578, 342,574, 350,568, 353,561, 352,555, 354,549, 359,544, 366,538, 369,535, 370,534, 366,531, 359,528, 349,526, 340,523, 330,512, 317,494,
305,479, 298,475, 288,473, 280,472, 279,487, 284,500, 290,514, 292,529, 291,541, 287,558, 278,574, 264,572, 250,564, 242,562, 239,566, 239,574, 239,588, 247,623, 253,629, 261,629, 271,628, 279,630, 282,635, 283,643, 286,633, 290,622, 292,620" href="towns/目黒区"
onmouseover="changeMapImage('/assets/23k_5-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" coords="373,496, 369,487, 363,483, 358,481, 351,475, 350,469, 350,466, 364,444, 364,441, 363,434, 361,428, 350,416, 339,405, 331,401, 327,403, 319,410, 309,416, 301,420, 293,409, 292,395, 241,430, 235,450, 240,449, 250,448, 258,449, 265,457, 272,470, 277,482, 279,487, 284,472, 295,474, 305,479,
317,494, 330,512, 340,523, 349,526, 359,528, 366,531, 370,534, 373,529, 375,522, 375,515, 375,505, 373,496" href="towns/渋谷区"
onmouseover="changeMapImage('/assets/23k_6-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" coords="296,371, 297,365, 301,357, 306,350, 311,344, 312,339, 307,337, 293,340, 288,338, 281,333, 275,322, 272,306, 276,284, 272,281, 261,280, 251,281, 245,287, 242,296, 237,296, 225,296, 211,297, 199,296, 193,296, 186,288, 180,276, 172,269, 164,271, 156,278, 152,281, 154,286, 160,298, 167,312,
174,321, 190,330, 212,339, 228,348, 232,356, 234,365, 235,374, 235,378, 255,392, 250,395, 241,401, 236,407, 237,415, 240,425, 241,430, 292,395, 296,371" href="towns/中野区"
onmouseover="changeMapImage('/assets/23k_7-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" coords="232,175, 246,179, 258,191, 266,212, 269,240, 272,245, 276,246, 279,248, 284,260, 323,249, 336,260, 350,246, 372,246, 379,220, 347,187, 346,181, 342,169, 338,154, 335,142, 331,137, 323,137, 314,137, 308,134, 308,122, 313,106, 318,92, 300,90, 278,88, 256,88, 240,90, 229,92, 214,94, 199,96,
190,99, 182,106, 174,116, 169,124, 162,135, 157,147, 178,170, 184,171, 196,173, 213,175, 232,175" href="towns/板橋区"
onmouseover="changeMapImage('/assets/23k_8-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" coords="393,249, 381,260, 372,246, 350,246, 336,260, 323,249, 284,260, 284,265, 276,284, 284,293, 292,299, 304,304, 319,306, 333,307, 339,308, 340,313, 339,320, 340,325, 345,327, 355,330, 365,332, 369,333, 381,297, 397,301, 401,298, 412,290, 425,280, 438,272, 445,269, 421,257, 393,249" href="towns/豊島区"
          onmouseover="changeMapImage('/assets/23k_9-01.png')"
          onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" alt="" coords="397,301, 381,297, 369,333, 374,334, 386,337, 401,342, 415,347, 426,352, 429,358, 431,362, 473,370, 484,362, 486,347, 482,339, 468,281, 445,269, 438,272, 425,280, 412,290, 401,298, 397,301" href="towns/文京区"
onmouseover="changeMapImage('/assets/23k_10-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" alt="" coords="431,362, 429,358, 426,352, 415,347, 401,342, 386,337, 374,334, 369,333, 365,332, 355,330, 345,327, 340,325, 339,320, 340,313, 339,308, 333,307, 319,306, 304,304, 292,299, 284,293, 276,284, 272,306, 275,322, 281,333, 288,338, 293,340, 307,337, 312,339, 311,344, 306,350, 301,357, 297,365,
296,371, 292,389, 292,406, 301,420, 309,416, 319,410, 327,403, 331,401, 339,405, 350,416, 361,428, 363,434, 364,441, 364,444, 377,424, 381,425, 387,420, 392,414, 394,412, 398,408, 407,399, 413,391, 418,384, 424,374, 429,366, 431,362" href="towns/新宿区"
onmouseover="changeMapImage('/assets/23k_11-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

          <area shape="poly" alt="" coords="473,370, 431,362, 429,366, 424,374, 418,384, 413,391, 407,399, 398,408, 394,412, 404,426, 415,438, 417,440, 423,446, 428,450, 437,453, 447,455, 452,456, 458,457, 461,459, 474,433, 488,410, 496,396, 515,379, 514,375, 515,371, 512,368, 501,360, 490,351, 486,347, 486,347, 486,347, 484,362,
473,370" href="towns/千代田区"
onmouseover="changeMapImage('/assets/23k_12-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

  <area shape="poly" coords="ここに座標" href="towns/港区"
onmouseover="changeMapImage('/assets/23k_13-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

  <area shape="poly" coords="ここに座標" href="大田区"
onmouseover="changeMapImage('/assets/23k_14-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">


<area shape="poly" alt="" coords="530,388, 528,386, 526,384, 525,382, 522,381, 520,382, 515,379, 496,396, 488,410, 474,433, 461,459, 466,475, 465,486, 467,496, 471,493, 478,486, 486,480, 486,484, 484,492, 483,500, 485,505, 490,512, 494,514, 501,508, 513,499, 523,491, 528,487, 528,483, 527,474, 527,465, 525,460, 525,458,
530,460, 532,444, 538,401, 530,388" href="towns/中央区"
onmouseover="changeMapImage('/assets/23k_15-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

<area shape="poly" coords="564,290, 550,286, 539,284, 532,287, 520,291, 508,296, 501,298, 492,296, 481,290, 472,284, 468,281, 482,339, 486,347, 486,347, 490,351, 501,360, 512,368, 515,371, 514,375, 515,379, 520,382, 522,381, 525,382, 526,384, 528,386, 539,368, 552,347, 563,328, 572,311, 578,300, 580,295, 575,294,
564,290" href="towns/台東区"
onmouseover="changeMapImage('/assets/23k_16-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

<area shape="poly" alt="" coords="579,259, 567,258, 552,260, 546,258, 539,253, 535,247, 532,238, 527,226, 517,217, 507,215, 493,214, 478,213, 466,213, 461,214, 455,225, 443,221, 450,236, 482,257, 469,272, 468,281, 472,284, 481,290, 492,296, 501,298, 508,296, 520,291, 532,287, 539,284, 550,286, 564,290, 575,294, 580,295,
584,261, 584,260, 579,259" href="towns/荒川区"
onmouseover="changeMapImage('/assets/23k_17-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

<area shape="poly" alt="" coords="450,236, 443,221, 455,225, 461,214, 456,212, 448,208, 443,202, 445,197, 451,191, 457,185, 457,177, 453,175, 444,177, 434,179, 427,179, 419,176, 411,170, 407,164, 409,156, 412,146, 414,141, 411,139, 410,131, 410,123, 408,120, 401,122, 389,122, 375,116, 367,113, 360,114, 352,112, 343,107,
332,100, 325,94, 323,93, 318,92, 313,106, 308,122, 308,134, 314,137, 323,137, 331,137, 335,142, 338,154, 342,169, 346,181, 347,187, 379,220, 372,246, 381,260, 393,249, 421,257, 445,269, 468,281, 469,272, 482,257, 450,236" href="towns/北区"
onmouseover="changeMapImage('/assets/23k_18-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

<area shape="poly" alt="" coords="655,109, 661,100, 651,92, 646,90, 640,93, 629,103, 625,105, 616,106, 608,105, 602,99, 602,90, 605,73, 607,57, 606,48, 602,51, 589,58, 572,66, 551,72, 531,72, 513,63, 496,49, 484,42, 477,42, 475,50, 470,52, 460,53, 448,54, 444,57, 447,63, 452,71, 457,81, 458,94, 458,105, 455,116, 449,120,
440,124, 435,126, 429,132, 420,138, 414,141, 412,146, 409,156, 407,164, 411,170, 419,176, 427,179, 434,179, 444,177, 453,175, 457,177, 457,185, 451,191, 445,197, 443,202, 448,208, 456,212, 461,214, 466,213, 478,213, 493,214, 507,215, 517,217, 527,226, 532,238, 535,247, 539,253, 546,258, 552,260, 567,258, 579,259, 584,260,
584,261, 598,251, 604,243, 604,243, 599,235, 592,222, 588,211, 591,204, 596,198, 599,200, 607,205, 615,208, 621,207, 625,204, 626,200, 626,196, 630,193, 640,186, 653,179, 665,174, 672,173, 675,180, 677,187, 681,184, 684,177, 685,174, 655,109" href="towns/足立区"
onmouseover="changeMapImage('/assets/23k_19-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

<area shape="poly" alt="" coords="560,399, 580,401, 591,390, 603,379, 617,359, 628,359, 635,364, 633,363, 634,363, 633,362, 635,358, 635,347, 639,343, 639,340, 635,336, 635,330, 642,322, 654,317, 655,313, 655,313, 650,309, 637,295, 620,273, 604,243, 598,251, 584,261, 580,295, 578,300, 572,311, 563,328, 552,347, 539,368,
528,386, 530,388, 531,390, 542,395, 560,399" href="towns/墨田区"
onmouseover="changeMapImage('/assets/23k_20-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

  <area shape="poly" coords="ここに座標" href="towns/江東区"
onmouseover="changeMapImage('/assets/23k_21-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

  <area shape="poly" coords="ここに座標" href="towns/江戸川区"
onmouseover="changeMapImage('/assets/23k_22-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

<area shape="poly" alt="" coords="763,135, 754,135, 741,137, 730,138, 723,136, 718,126, 720,118, 724,113, 727,108, 727,104, 718,100, 709,100, 699,101, 691,102, 689,105, 687,109, 684,113, 678,111, 661,100, 655,109, 685,174, 684,177, 681,184, 677,187, 675,180, 672,173, 665,174, 653,179, 640,186, 630,193, 626,196, 626,200,
625,204, 621,207, 615,208, 607,205, 599,200, 596,198, 591,204, 588,211, 592,222, 599,235, 604,243, 604,243, 620,273, 637,295, 650,309, 655,313, 655,313, 666,320, 669,323, 674,329, 679,333, 689,334, 700,331, 709,325, 713,313, 716,293, 721,276, 724,267, 729,260, 735,254, 741,248, 741,240, 741,232, 746,227, 754,223, 752,220,
750,214, 745,202, 741,191, 739,185, 736,179, 736,172, 742,164, 757,154, 764,146, 765,139, 763,135" href="towns/葛飾区"
onmouseover="changeMapImage('/assets/23k_23-01.png')"
onmouseout="changeMapImage('/assets/23k_0-01.png')">

        </map>
      </section>

    </section>
    <!--   Third block End   -->
    <!--  コンテンツはここまで  -->

  <footer>
      <p>Copyright © ○○○○ All Rights Reserved.</p>
  </footer>
</div>
